[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/github.com/mailjet/mailjet-apiv3-go"]
	path = vendor/github.com/mailjet/mailjet-apiv3-go
	url = https://github.com/mailjet/mailjet-apiv3-go
